In [1]:
import numpy as np
import pandas as pd

In [2]:
def count_characters(string):
    '''
    INPUT: STRING
    OUTPUT: DICT (with counts of each character in input string)
    
    Return a dictionary which contains
    a count of the number of times each character appears in the string.
    Characters which with a count of 0 should not be included in the
    output dictionary.
    
    '''
    
    d = {}
    
    for char in string:
        if char in d:
            d[char] += 1
        else:
            d[char] = 1
    
    return d

In [3]:
count_characters('happy birthday')

{'h': 2,
 'a': 2,
 'p': 2,
 'y': 2,
 ' ': 1,
 'b': 1,
 'i': 1,
 'r': 1,
 't': 1,
 'd': 1}

In [4]:
def invert_dictionary(d):
    '''
    INPUT: DICT
    OUTPUT: DICT (of sets of input keys indexing the same input values
                  indexed by the input values)
                  
    Given a dictionary d, return a new dictionary with d's values
    as keys and the value for a given key being
    the set of d's keys which shared the same value.
    e.g. {'a': 2, 'b': 4, 'c': 2} => {2: {'a', 'c'}, 4: {'b'}}
    '''
    result = {}
    for key, value in d.items():
        if value not in result:
            result[value] = set()
        result[value].add(key)
        
    return result

In [5]:
invert_dictionary({'a':2, 'b':1, 'c':2})

{2: {'a', 'c'}, 1: {'b'}}

In [6]:
def cookie_jar(a, b):
    '''
    INPUT: FLOAT (probability of drawing a chocolate cooking from Jar A),
            FLOAT (probability of drawing a chocolate cooking from Jar B)
    OUTPUT: FLOAT (conditional probability that cookie was drawn from Jar A
                   given that a chocolate cookie was drawn)
                   
    There are two jars of cookies.
    Each has chocolate and peanut butter cookies.
    INPUT 'a' is the fraction of cookies in Jar A which are chocolate
    INPUT 'b' is the fraction of cookies in Jar B which are chocolate
    A jar is chosen at random and a cookie is drawn.
    The cookie is chocolate.
    Return the probability that the cookie came from Jar A.
    '''
    return a / (a + b)

In [7]:
cookie_jar(0.5, 0.75)

0.4

In [10]:
def array_work(rows, cols, scalar, matrixA):
    '''
    INPUT: INT, INT, INT, NUMPY ARRAY
    OUTPUT: NUMPY ARRAY
    (of matrix product of r-by-c matrix of "scalar"'s time matrixA)
    
    Create matrix of size (rows, cols) with elements initialized to
    the scalar value. Right multiply that matrix with the passed
    matrixA (i.e. AB, not BA).  Return the result of the multiplication.
    You needn't check for matrix compatibililty, but you accomplish this
    in a single line.
    
    E.g., array_work(2, 3, 5, np.array([[3, 4], [5, 6], [7, 8]]))
           [[3, 4],      [[5, 5, 5],
            [5, 6],   *   [5, 5, 5]]
            [7, 8]]
    '''
    return matrixA.dot(np.ones((rows, cols)) * scalar)

In [12]:
array_work(4, 3, 7, np.array([[1, 2, 3, 4]
                             , [5, 6, 7, 8]
                             , [9, 0, 1, 2]]))

array([[ 70.,  70.,  70.],
       [182., 182., 182.],
       [ 84.,  84.,  84.]])

In [15]:
def data_frame_work(df, colA, colB, colC):
    '''
    INPUT: DATAFRAME, STR, STR, STR
    OUTPUT: None
    Insert a column (colC) into the dataframe that is the sum of colA and colB.
    Assume that df contains columns colA and colB and that these are numeric.
    '''
    df[colC] = df[colA] + df[colB]

In [19]:
df = pd.DataFrame({'A': [1, 2, 3, 4]
                   , 'B': [5, 6, 7, 8]})
df

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [20]:
data_frame_work(df, 'A', 'B', 'C')

In [21]:
df

   A  B   C
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [22]:
data_frame_work(df, 'B', 'C', 'D')
df

   A  B   C   D
0  1  5   6  11
1  2  6   8  14
2  3  7  10  17
3  4  8  12  20